.section {
&--padding {
    padding-top: 94px;
    padding-bottom: 94px;
}
&--color {
    background-color: var(--buttons-bg-color);
   
}
}
.project-section {
    padding-top: 94px;
    padding-bottom: 94px;
}