.section {
    padding-top: 94px;
    padding-bottom: 94px;
&--no-padding-top{
    padding-top: 0;
}

&--other-background {
    background-color: var(--buttons-bg-color);
   
}
}
.project-section {
    padding-top: 94px;
    padding-bottom: 94px;
}